[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
annotated-types = "*"
anyio = "*"
async-timeout = "*"
attrs = "*"
beautifulsoup4 = "*"
blinker = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
dataclasses-json = "*"
deprecated = "*"
dirtyjson = "*"
distro = "*"
et-xmlfile = "*"
exceptiongroup = "*"
filetype = "*"
flask = "*"
flask-sqlalchemy = "*"
frozenlist = "*"
fsspec = "*"
greenlet = "*"
gunicorn = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
httpx-sse = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
jiter = "*"
joblib = "*"
jsonpatch = "*"
jsonpointer = "*"
markupsafe = "*"
marshmallow = "*"
multidict = "*"
mypy-extensions = "*"
nest-asyncio = "*"
networkx = "*"
nltk = "*"
numpy = "*"
openai = "*"
openpyxl = "*"
orjson = "*"
packaging = "*"
pandas = "*"
"pdfminer.six" = "*"
pdfplumber = "*"
pillow = "*"
pip-system-certs = "*"
propcache = "*"
psycopg2-binary = "*"
pycparser = "*"
pydantic = "*"
pydantic-settings = "*"
pydantic-core = "*"
pydub = "*"
pypdf = "*"
pypdfium2 = "*"
python-dateutil = "*"
python-dotenv = "*"
python-whatsapp-bot = "*"
pytz = "*"
pyyaml = "*"
regex = "*"
requests = "*"
requests-toolbelt = "*"
schedule = "*"
six = "*"
sniffio = "*"
soupsieve = "*"
sqlalchemy = "*"
striprtf = "*"
tenacity = "*"
tiktoken = "*"
tqdm = "*"
typing-inspect = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
watchdog = "*"
werkzeug = "*"
wrapt = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.10"
